version: "3.9"
services:
  mongo:
    image: mongo:6.0
    container_name: rbac-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    container_name: rbac-server
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/rbacdb
      - PORT=5000
      - JWT_SECRET=secret123
    volumes:
      - ./server:/app

  client:
    build: ./client
    container_name: rbac-client
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - server

volumes:
  mongo_data:
